---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import PostCard from "../../../components/PostCard.astro";
import Pagination from "../../../components/Pagination.astro";
export async function getStaticPaths({ paginate }) {
    const allPosts = await getCollection("posts");
    const allTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
    return allTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags.includes(tag)
        );
        return paginate(filteredPosts, {
            params: { tag },
            pageSize: 9,
        });
    });
}
const { page } = Astro.props;
const { tag } = Astro.params;
---

<BaseLayout pageTitle={tag}>
    <div class="mx-auto max-w-screen-lg px-3 py-6">
        <div class="text-center">
            <h1 class="text-3xl font-bold">{tag}'s Blogs</h1>
        </div>
    </div>
    <div class="mx-auto max-w-screen-lg px-3 py-6">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
            {
                page.data.map((post) => (
                    <PostCard url={"/posts/" + post.slug} data={post.data} />
                ))
            }
        </div>
    </div>
    <div class="mx-auto max-w-screen-lg px-3 py-6">
        <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </div>
</BaseLayout>
